.input-style {
  @apply w-full p-3 mb-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.btn-style {
  @apply w-full py-2 px-4 rounded-lg font-semibold shadow-md transition duration-300;
}
