/* Optional: Add smooth transition for background */
/* :host {
  display: block;
  transition: background-image 1s ease-in-out;
} */


.opacity-0 {
  opacity: 0;
  z-index: 0;
}

.opacity-100 {
  opacity: 1;
  z-index: 10;
}

